<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Planner Demo</title>
    <style>

body {width:100%;}
.q1, .q2, .q3, .q4 {overflow:hidden; display:block; float:left;}
.q1 {width:100px; height: 100px;}
.q2 {width:100px; height: 100px;}
.q3 {width:100px; height: 100px;}
.q4 {width:100px; height: 100px; overflow:auto;}

.container {width:9999px; height:9999px;}

.datagrid table thead th.start { border-left:2px solid red; text-align: left; }
.datagrid table tbody td.start { border-left:2px solid red; }

.datagrid table thead th.label { border-left:2px solid green; text-align: left; }
.datagrid table tbody td.label { border-left:2px solid green; }

.datagrid table thead th.border { border-left:1px solid black; }
.datagrid table tbody td.border { border-left:1px solid black; }

.datagrid table { border-collapse: collapse; text-align: left; } 
.datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #A65B1A; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.datagrid table td, .datagrid table th { padding: 3px 2px; }
.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #A65B1A), color-stop(1, #7F4614) );background:-moz-linear-gradient( center top, #A65B1A 5%, #7F4614 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#A65B1A', endColorstr='#7F4614');background-color:#A65B1A; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #BF691E; } 
.datagrid table thead th:first-child { border: none; }
.datagrid table tbody td { color: #7F4614; border-left: 1px solid #D9CFB8;font-size: 12px;font-weight: normal; }
.datagrid table tbody .alt td { background: #F0E5CC; color: #7F4614; }
.datagrid table tbody td:first-child { border-left: none; }
.datagrid table tbody tr:last-child td { border-bottom: none; }
.datagrid table tfoot td div { border-top: 1px solid #A65B1A;background: #F0E5CC;} 
.datagrid table tfoot td { padding: 0; font-size: 11px } 
.datagrid table tfoot td div{ padding: 2px; }    

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

td.grid { text-align: right; font-family: monospace;}
th.grid { text-align: center; width:20px; }

td.numbers { text-align: right; font-family: monospace; }
th.numbers { text-align: right; width:50px; }

td.text { text-align: left; }
th.text { text-align: left; width:150px; }

    </style>

<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script>
function getScrollbarWidth() {
    var outer = document.createElement("div");
    outer.style.visibility = "hidden";
    outer.style.width = "100px";
    outer.style.msOverflowStyle = "scrollbar"; // needed for WinJS apps

    document.body.appendChild(outer);

    var widthNoScroll = outer.offsetWidth;
    // force scrollbars
    outer.style.overflow = "scroll";

    // add innerdiv
    var inner = document.createElement("div");
    inner.style.width = "100%";
    outer.appendChild(inner);        

    var widthWithScroll = inner.offsetWidth;

    // remove divs
    outer.parentNode.removeChild(outer);

    return widthNoScroll - widthWithScroll;
}

var scroll_bar_width = 0;
var top_freeze = -1;
var left_freeze = 1;
var table_width = 0;
var table_height = 0;
var display_width = 0;
var display_height = 0;
$(document).ready(function(){

    console.log()

    // Work out dimensions of frozen rows/columns
    $(".heightcheck").each(function (index, domElement) {
        top_freeze += $(domElement).outerHeight()+1;
    });

    $(".widthcheck").each(function (index, domElement) {
        left_freeze += $(domElement).outerWidth();
    });

    table_height = $(".fixed").outerHeight();
    table_width = $(".fixed").outerWidth();

    $('.container').width(table_width).height(table_height);

    scroll_bar_width = getScrollbarWidth();

    // The 20s give a little padding round the table, and account
    // for some irregularities that I never tried to dig into.
    display_width = $(window).width()-20;
    display_height = $(window).height()-20;


    // Set up the div dimensions.  Quadrants 2 and 3 are sized to
    // finish level with the q4 scroll bars.
    $('.q1').width(left_freeze).height(top_freeze);
    $('.q2').width(display_width - left_freeze - scroll_bar_width).height(top_freeze);
    $('.q3').width(left_freeze).height(display_height - top_freeze - scroll_bar_width);
    $('.q4').width(display_width - left_freeze).height(display_height - top_freeze);

    // Get scroll events on q4
    $('.q4').bind('scroll', fnscroll);

    // Copy the q4 data into each div
    $('.q1').html($('.q4').html());
    $('.q2').html($('.q4').html());
    $('.q3').html($('.q4').html());

    // Set the initial scroll position of each div
    $('.q2').scrollLeft(left_freeze);
    $('.q4').scrollLeft(left_freeze);
    $('.q3').scrollTop(top_freeze);
    $('.q4').scrollTop(top_freeze);


});


function fnscroll(){

    if ($('.q4').scrollLeft() < left_freeze) {
        $('.q2').scrollLeft(left_freeze);
        $('.q4').scrollLeft(left_freeze);
    } else {
        $('.q2').scrollLeft($('.q4').scrollLeft());
    }

    if ($('.q4').scrollTop() < top_freeze) {

        $('.q3').scrollTop(top_freeze);
        $('.q4').scrollTop(top_freeze);
    } else {
        $('.q3').scrollTop($('.q4').scrollTop());
    }

}

</script>    
  </head>
<body>
 <div class="q1"><div class="container"></div></div>
 <div class="q2"><div class="container"></div></div>
 <div class="q3"><div class="container"></div></div>
 <div class="q4"><div class="container">
<div class="datagrid">
    <table class="fixed">
        <thead>
            <tr>
                <th class="numbers heightcheck widthcheck">Line</th>
                <th class="text widthcheck">Notes</th>
                <th class="text widthcheck">What</th>
                <th class="numbers widthcheck">Who</th>
                <th class="numbers border widthcheck">Plan</th>
                <th class="numbers widthcheck">Gain</th>
                <th class="numbers widthcheck">Done</th>
                <th class="numbers widthcheck">Left</th>
                {{#each cell_headers}}
                    <th class="{{this.0}}">{{this.1}}</th>
                {{/each}}
            </tr>
            <tr>
                <th class="numbers heightcheck"></th>
                <th class="text"></th>
                <th class="text"></th>
                <th class="numbers"></th>
                <th class="numbers border"></th>
                <th class="numbers"></th>
                <th class="numbers"></th>
                <th class="numbers"></th>
                {{#each cell_labels}}
                    <th colspan={{this.0}} class="{{this.1}}">{{this.2}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
        {{#each resource_rows as |row|}}
           {{#if row.even}}
            <tr class="alt">
            {{else}}
            <tr>
            {{/if}}
                <td class="numbers heightcheck"></td>
                <td class="text">{{{row.notes_html}}}</td>
                <td class="text">Resource remaining</td>
                <td class="numbers">{{row.what}}</td>
                <td class="numbers border">{{{row.plan}}}</td>
                <td class="numbers">{{{row.gain}}}</td>
                <td class="numbers">{{{row.done}}}</td>
                <td class="numbers">{{{row.left}}}</td>
                {{#each row.cells as |c|}}
                    <td class="{{c.0}}">{{{c.1}}}</td>
                {{/each}}
            </tr>
        {{/each}}
        {{#each rows as |row|}}
           {{#if row.even}}
            <tr class="alt">
            {{else}}
            <tr>
            {{/if}}
                <td class="numbers">{{row.line_num}}</td>
                <td class="text">{{{row.notes_html}}}</td>
                <td class="text">{{{row.what}}}</td>
                <td class="numbers">{{row.who}}</td>
                <td class="numbers border">{{{row.plan}}}</td>
                <td class="numbers">{{{row.gain}}}</td>
                <td class="numbers">{{{row.done}}}</td>
                <td class="numbers">{{{row.left}}}</td>
                {{#each row.cells as |c|}}
                    <td class="{{c.0}}">{{{c.1}}}</td>
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>    
            </div>
         </div>
</body>
</html>


